@charset "utf-8";


/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Google Fontsの読み込み
---------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Anton');

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	color: #333;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 15px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #756d56;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333;	/*リンクテキストの色*/
	transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
	color: #534e40;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*container（サイトを囲む一番外側のボックス）
---------------------------------------------------------------------------*/
#container {
	max-width: 1200px;	/*サイトの最大幅*/
	margin: 0 auto;
	padding: 0 3%;	/*上下、左右へのボックス内の余白。*/
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	overflow: hidden;
	padding: 30px 40px;		/*上下、左右へのボックス内の余白。*/
	margin-bottom: 40px;	/*ヘッダーの下に空けるスペース*/
	background: #fff;		/*背景色（グラデーションが使えない古いブラウザ向け）*/
	background: linear-gradient(#fff 70%, #dedede);	/*グラデーション*/
	border-radius: 0px 0px 10px 10px;	/*角丸のサイズ。左上、右上、右下、左下の順番。*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);	/*影の設定。右に、下に、広げる幅、rgbaは色で0,0,0は黒、0.2は透明度20%の事。*/
}
/*ロゴ画像*/
header #logo img {
	width: 250px;	/*画像幅*/
	float: left;
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニューブロック*/
#menubar {
	float: right;
	border-left: 1px solid #dbdbdb;	/*左の線の幅、線種、色*/
	font-size: 20px;		/*文字サイズ*/
	font-family: 'Anton';	/*上部で読み込んだGoogle Fontsの指定*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	float: left;	/*左に回り込み*/
	position: relative;
	line-height: 1.5;
}
#menubar li a {
	display: block;text-decoration: none;
	border-right: 1px solid #dbdbdb;	/*右の線の幅、線種、色*/
	padding: 0px 10px;	/*上下、左右への余白*/
	color: #999;		/*文字色*/
}
#menubar li a:hover {
	color: #333;	/*マウスオン時の文字色*/
}
/*現在表示中メニュー（current）*/
#menubar li.current a {
	color: #534e40;	/*文字色*/
}
/*日本語の飾り文字*/
#menubar a span {
	display: none;	/*通常は非表示にする*/
}
/*日本語の飾り文字（マウスオン時）*/
#menubar a:hover span {
	display: block;
	font-size: 11px;	/*文字サイズ*/
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0px;
	bottom: -20px;
	background: #0ea2df;	/*背景色*/
	color: #fff;			/*文字色*/
	border-radius: 10px;	/*角丸のサイズ。丸くしたくなければこの１行削除。*/
}
/*日本語の飾り文字（ふきだし風）*/
#menubar a span::before {
	content: "▲";	/*表示するテキスト。変更してもOKですが機種依存文字は使わないように。*/
	position: absolute;
	top: -10px;
	left: 43%;
	color: #0ea2df;		/*文字色*/
	font-size: 10px;	/*サイズ*/
}
/*スマホ用メニューを表示させない*/
#menubar-s {display: none;}
/*３本バーアイコンを表示させない*/
#menubar_hdr {display: none;}

/*コンテンツ（mainとsubを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	clear: both;overflow: hidden;
	background: #fff;	/*背景色*/
	padding: 3%;		/*ボックス内の余白*/
	margin-top: 40px;	/*ボックスの上に空けるスペース。コンテンツとメインメニューの間のスペースになる。*/
	border-radius: 10px;	/*角丸のサイズ*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);	/*影の設定。右に、下に、広げる幅、rgbaは色で0,0,0は黒、0.2は透明度20%の事。*/
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: left;	/*左に回り込み*/
	width: 72%;		/*幅*/
	padding-bottom: 50px;
}
/*h2タグの設定*/
#main h2 {
	clear: both;
	font-size: 18px;	/*文字サイズ*/
	margin-bottom: 20px;	/*見出しの下にとるスペース*/
	padding: 10px 20px;		/*上下、左右への余白*/
	background: #534e40 url(../images/bg2.png) no-repeat right top;	/*背景色（グラデーションが使えない古いブラウザ向け）と、背景画像の読み込み*/
	background: url(../images/bg2.png) no-repeat right top, linear-gradient(#6b6452, #534e40);	/*背景画像の読み込みとグラデーション*/
	color: #fff;	/*文字色*/
	border-radius: 10px 10px 0px 0px;	/*角丸のサイズ。左上、右上、右下、左下の順番。*/
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);	/*テキストの影。右に、下に、広げる幅。0,0,0は黒で0.3は透明度30%の事。*/
}
/*h3タグの設定*/
#main h3 {
	clear: both;
	margin-bottom: 20px;	/*見出しの下にとるスペース*/
	padding: 6px 20px;		/*上下、左右への余白*/
	border: 1px solid #ccc;		/*枠線の幅、線種、色*/
	background: linear-gradient(#fff, #efefef);	/*グラデーション*/
}
/*h3タグの左側の装飾*/
#main h3::first-letter {
	 border-left: 3px solid #534e40;	/*左側の線の幅、線種、色*/
	 padding-left: 10px;				/*左側の線と、テキストとの余白*/
}
/*段落タグ設定*/
#main p {
	padding: 0px 20px 15px;	/*上、左右、下への余白*/
}
#main h2 + p,
#main h3 + p {
	margin-top: -10px;
}

/*ボックス（list）設定
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#main .list {
	overflow: hidden;
	background: #fff;	/*背景色*/
	margin-bottom: 20px;	/*ボックス同士の上下間の余白*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	border-radius: 6px;		/*角丸のサイズ。この行削除すれば通常の長方形になる。*/
	position: relative;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);	/*影の設定。右へ、下へ、ぼかし幅。rgbaは色設定で0,0,0は黒。0.2が透明度。*/
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);			/*同上*/
}
#main .list a {
	overflow: hidden;
	display: block;
	text-decoration: none;
}
/*ボックス１個あたりの設定（※３カラム時）*/
#main .list.c3 {
	float: left;	/*左に回り込み*/
	width: 31%;		/*幅*/
	margin-left: 1.5%;	/*ボックス同士の左右間の余白*/
	height: 230px;			/*高さ（下の「.list.c3 a」の高さと揃える）*/
	line-height: 1.4;
}
#main .list.c3 a {
	height: 230px;	/*高さ（上の「.list.c3」の高さと揃える）*/
}
/*マウスオン時設定*/
#main .list a:hover {
	background: #000;	/*マウスオン時の背景色*/
	color: #fff;		/*マウスオン時の文字色*/
}
/*ボックスにリンク指定がされた場合に出る「→」マーク*/
#main .list a::before {
	content: "→";	/*この文字を出す。他の文字に変えても可だが機種依存文字は化けるので使わない。*/
	position: absolute;
	right: 20px;	/*ボックスの右から20pxの場所に配置*/
	top: 20px;		/*ボックスの上から20pxの場所に配置*/
	background: #000;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.5);	/*rgb指定での背景色。「0,0,0」は黒の事で「0.5」が透明度50%の事。*/
	color: #fff;	/*文字色*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	border-radius: 4px;		/*角丸のサイズ*/
	width: 30px;		/*幅*/
	line-height: 30px;	/*高さ*/
	text-align: center;
}
#main .list a:hover::before {
	background: #000;	/*マウスオン時の「→」マークの背景色*/
}
/*ボックス内の画像設定*/
#main .list .img {
	width: 30%;	/*画像の幅*/
	float: left;
	margin-right: 10px;
}
/*ボックス内の画像設定（※３カラム時）*/
#main .list.c3 .img {
	width: 100%;	/*画像の幅*/
}
/*ボックス内のh4（見出し）タグ設定*/
#main .list h4 {
	padding: 5px 10px;
	font-size: 16px;	/*文字サイズ*/
}
/*ボックス内のp（段落）タグ設定*/
#main .list p {
	padding: 0px 10px;
	font-size: 12px;	/*文字サイズを少し小さく*/
}

/*subコンテンツ
---------------------------------------------------------------------------*/
/*subブロック*/
#sub {
	float: right;	/*右に回り込み*/
	width: 24%;		/*幅*/
	padding-bottom: 50px;
}
/*subコンテンツ内のh2タグ設定*/
#sub h2 {
	text-align: center;	/*内容をセンタリング*/
	padding: 10px 15px;		/*上下、左右へのボックス内の余白*/
	color: #fff;	/*文字色*/
	background: #222 url(../images/bg1.png);	/*背景色、背景画像の読み込み*/
	border-top: 4px solid #0ea2df;	/*上の線の幅、線種、色*/
	margin-bottom: 1px;
}

/*subコンテンツ内のbox
---------------------------------------------------------------------------*/
#sub .box {
	padding: 10px;	/*ボックス内の余白*/
	background: #c7c7c7;	/*背景色*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;	/*ボックスの影。右へ、下へ、広げる幅、0,0,0は黒の事で0.1は透明度10%の事。insetは影を内側へ向ける指定。*/
	margin-bottom: 20px;	/*ブロックの下に空けるスペース*/
	border-top: 4px solid #0ea2df;	/*上の線の幅、線種、色*/
}
#sub .box h2 {
	border-top: none;	/*box内のh2タグの上の線を消す*/
}

/*subコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
#sub ul.submenu {
	margin-bottom: 20px;	/*ブロックの下に空けるスペース*/
}
#sub .box ul.submenu {
	margin-bottom: 0px;	/*box内にメニューがある場合、下のスペースをなくす*/
}
/*メニュー１個ごとの設定*/
#sub ul.submenu li a {
	text-decoration: none;display: block;
	padding: 5px 10px;	/*メニュー内の余白。上下、左右への設定。*/
	background: #222;	/*背景色*/
	color: #fff;		/*文字色*/
	margin-bottom: 1px;	/*メニュー同士の余白*/
}
/*マウスオン時の背景色*/
#sub ul.submenu li a:hover {
	background: #444;	/*背景色*/
}

/*サブコンテンツ内の一覧ブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#sub .list {
	position: relative;overflow: hidden;
	font-size: 11px;	/*文字サイズ*/
	line-height: 1.2;	/*行間を狭くする*/
}
#sub .list a {
	text-decoration: none;display: block;overflow: hidden;
	padding: 10px;	/*ボックス内の余白*/
	margin-bottom: 1px;	/*メニュー同士の余白*/
	background: #222;	/*背景色*/
	color: #fff;		/*文字色*/
}
/*マウスオン時*/
#sub .list a:hover {
	background: #444;	/*背景色*/
}
/*ボックス内のh4タグ設定*/
#sub .list h4 {
	font-size: 13px;	/*文字サイズ*/
}
/*ボックス内の写真設定*/
#sub .list figure img {
	float: left;	/*画像を左へ回り込み*/
	width: 20%;		/*写真の幅*/
	margin-right: 5px;	/*写真の右側に空ける余白*/
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	margin: 0 auto 20px;
	color: #fff;	/*文字色*/
	text-align: center;
	padding: 10px 0;
}
footer a {
	color: #fff;	/*文字色*/
	text-decoration: none;
}
footer .pr {
	display: block;
	font-size: 80%;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0px 20px;
	margin-bottom: 20px;
}
/*日付設定*/
#new dt {
	float: left;
	width: 9em;		/*幅*/
	color: #534e40;	/*文字色*/
	letter-spacing: 0.1em;
}
/*記事設定*/
#new dd {
	padding-left: 9em;
	border-bottom: 1px solid #efefef;	/*下線の幅、線種、色*/
}

/*よく頂く質問ページ
---------------------------------------------------------------------------*/
/*ブロック全体*/
.faq {
	padding: 0px 20px;	/*上下、左右への余白*/
}
/*質問の設定*/
.faq dt {
	color: #534e40;	/*文字色*/
	padding-top: 15px;
}
.faq dt a {
	color: #534e40;	/*文字色*/
}
/*回答の設定*/
.faq dd {
	border-bottom: 1px solid #dbdbdb;	/*下線の幅、線種、色*/
	overflow: hidden;
	padding-bottom: 15px;
}

/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*ta1設定*/
.ta1 {
	width: 100%;
	margin: 0 auto 20px;
}
.ta1, .ta1 td, .ta1 th {
	border: 1px solid #ccc;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px 15px;	/*ボックス内の余白*/
	word-break: break-all;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
	background: #eee;	/*背景色*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 140px;	/*幅*/
	text-align: center;	/*センタリング*/
	font-weight: normal;
}
/*左側ボックスに画像を入れた場合の設定*/
.ta1 th img {
	width: 100%;
}

/*submitボタンの設定
---------------------------------------------------------------------------*/
input[type="submit"],
input[type="button"],
input[type="reset"] {
	padding: 10px 30px;	/*ボタン内の余白*/
	margin-bottom: 20px;
	border: none;
	border-radius: 30px;	/*角丸のサイズ*/
	background: linear-gradient(#fff, #eee);	/*グラデーション*/
	font-size: 16px;	/*文字サイズ*/
	border: 1px solid #ccc;
}
/*マウスオン時の設定*/
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover{
	background: #fff;	/*背景色*/
}

/*一覧ページのボックス右下のオプションマーク
（CMSの場合は管理ページの「オプション1」～のプルダウンと、setup.phpの「オプション選択肢」に関連します）
---------------------------------------------------------------------------*/
.option1 {
	font-size: 10px;
	color: #FFF;
	background: #F00;
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(-45deg) translate(-35px);
	transform: rotate(-45deg) translate(-35px);
}
h2 span.option1 {
	width: auto;
	padding: 0px 5px;
	position: static;
	-webkit-transform: none;
	transform: none;
	display: inline-block;
}
.option2 {
	font-size: 10px;
	color: #FFF;
	background: #069;
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(-45deg) translate(-35px);
	transform: rotate(-45deg) translate(-35px);
}
h2 span.option2 {
	width: auto;
	padding: 0px 5px;
	position: static;
	-webkit-transform: none;
	transform: none;
	display: inline-block;
}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;		/*文字サイズ*/
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #222;color: #fff;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.p0 {padding:0 !important;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 15px;list-style: disc;}
.color1, .color1 a {color: #F00;}
.bg1 {background: #f6f5f2;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
img.fr {float: right;margin-left: 10px;margin-bottom: 10px;}
img.fl {float: left;margin-right: 10px;margin-bottom: 10px;}
.big1 {font-size: 20px;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}



/*画面幅900px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:900px){

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo img {
	width: 200px;	/*画像幅*/
}

}



/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	padding: 30px 3%;		/*上下、左右へのボックス内の余白。*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。透明度(opacity)0%から透明度100%にする指定。*/
@keyframes menu1 {
0% {opacity: 0;}
100% {opacity: 1;}
}
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;overflow: hidden;
	position: absolute;
	background: rgba(0,0,0,0.6);
	border-top: 1px solid #fff;
	width: 94%;
	height: 100%;
	z-index: 10;
	animation-name: menu1;		/*上のkeyframesの名前*/
	animation-duration: 0.5S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*アニメーションの完了後、最後のキーフレームを維持する*/
	font-size: 20px;		/*文字サイズ*/
	font-family: 'Anton';	/*上部で読み込んだGoogle Fontsの指定*/
}
/*メニュー１個あたりの設定*/
#menubar-s li a {
	display: block;text-decoration: none;
	padding: 10px 5%;	/*上下、左右へのメニュー内の余白*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	background: #000;	/*背景色*/
	color: #fff;
}
/*日本語の飾り文字*/
#menubar-s a span {
	font-size: 12px;
	padding-left: 15px;
	color: #999;
	position: relative;bottom: 4px;
}
/*PC用メニューを非表示にする*/
#menubar {display: none;}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: absolute;
	top: 15px;	/*上から25pxの場所に配置*/
	right: 5%;	/*右から3%の場所に配置*/
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 50px;	/*幅*/
	height: 50px;	/*高さ*/
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: url(../images/icon_menu.png) no-repeat center top/50px;
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: url(../images/icon_menu.png) no-repeat center bottom/50px;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*その他
---------------------------------------------------------------------------*/
body.s-n #sub,.m-n {display: none;}

}



/*画面幅650px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:650px){

/*ボックス（list）設定
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定（※３カラム時）*/
#main .list.c3{
	float: none;
	width: auto;
	margin-left: 0;
	height: auto;
}
#main .list.c3 a {
	height: auto;
}
/*ボックスにリンク指定がされた場合に出る「→」マーク*/
#main .list a::before {
	right: 10px;
	top: 10px;
	width: 20px;		/*幅*/
	line-height: 20px;	/*高さ*/
	font-size: 10px;
}
/*ボックス内の画像設定（※３カラム時）*/
#main .list.c3 .img {
	width: 30%;	/*画像の幅*/
	float: left;
	margin-right: 10px;
}

}



/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
#main h2, #main h3 {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
/*段落タグ設定*/
#main p {
	padding: 0px 10px 15px;	/*上、左右、下への余白*/
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0px 10px;
}

/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*ta1設定*/
.ta1, .ta1 td, .ta1 th {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 100px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
.big1 {font-size: 16px;}
img.fr,img.fl {float: none;margin: 0;width: 100%;}
.sh {display:block;}
.pc {display:none;}

}

section em {
	font-style: normal;
	color: #f00;
}
.game_contents {
	padding: 10px 25px;
}
.game_contents table {
	margin: 0 auto;
}

/*画面幅400px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:400px){

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo img {
	width: 200px;	/*画像幅*/
}

}
